#header {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    margin: 010px;
    font-size: 72px;
    height: 100px;
}
body {
    text-align: center;
}

.fixed-header, .fixed-footer{
    width: 100%;
    position: fixed;        
    background: #333;
    padding: 10px 0;
    color: #fff;
    z-index: 10;

}
.container {
    width: 100%;
}

#holderDiv {
    width: 100%;
    position: relative;
    height: 1000px;
}

.fixed-header{
    top: 0;
}
.fixed-footer{
    bottom: 0;
    background-color: black;
    color: white;
    clear: both;
}

#wins {
    width: 200px;
}

.underLine {
    text-decoration: underline;
}

.score {
text-align: center;
font-weight: bold;
text-decoration: underline;
font-size: 48px;
}

.card {
    width: 100%;
}